<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Config/etc/system_file.xsd">
	<system>
		<section id="axzoom_options" translate="label" sortOrder="140" showInDefault="1" showInStore="1" showInWebsite="1">
			<class>separator-top</class>
			<label>AJAX-ZOOM</label>
			<tab>catalog</tab>
			<resource>Ax_Zoom::config</resource>
			<group id="license" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>AJAX-ZOOM license(s)</label>
				<attribute type="expanded">0</attribute>
                <field id="lic" translate="label" sortOrder="6" showInDefault="1" showInWebsite="0" showInStore="0">
					<label>License</label>
					<comment><![CDATA[<a href="http://www.ajax-zoom.com/index.php?cid=contact" target="_blank">Ask for support</a>&nbsp;&nbsp;&nbsp;<a href="http://www.ajax-zoom.com/index.php?cid=download#heading_3" target="_blank">Buy a license</a>]]></comment>
                    <frontend_model>Ax\Zoom\Block\Adminhtml\Form\Field\License</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>				
			</group>

		</section>
	</system>
</config>